footer {
    height: 150px;
}

body > footer {
    position: sticky;
    top: 100vh;
  }

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}