@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

/*generic*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Capriola;
    font-weight: 300;
    color: #3a3a3a;
}   

#logo {
    width: 10vh;
    margin-left: 0.5rem;
}


/*footer*/
footer {
    height: 150px;
}

body > footer {
    position: sticky;
    top: 100vh;
  }

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}